{
  "ignore": [
    "src/**/*.d.ts"
  ],
  "linters": {
    "*.{js,ts,tsx,json,css,md}": [
      "prettier --write",
      "git add"
    ],
    "*.{ts,tsx}": [
      "tslint --fix --project tsconfig.json",
      "git add"
    ]
  }
}
